<div class="about-container">
  <h1 class="about-header">About Me</h1>
  <div class = "header-rule">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <div class="about-body">
    <p>
      I am an incoming junior at UC Irvine, aspiring to become a Software Engineer. I have knowledge in both Front-End and Back-End Engineering. I love building apps and have a growing addiction for hackathons. I am passionate about closing the gender gap in the tech field. In my free time, I play basketball and learn new languages. Check out some of the project I've built or contributed to below.
    </p>
  </div>
</div>
