.project-card-wrapper{
    margin: 1rem 0;
    mat-card {
      overflow: hidden;
    }
  }
.project-card {
  background-blend-mode: normal;
  color: #fff;
  min-height: 320px;
  min-width: 400px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 2%;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: column;
  // grid-column-gap: 10px;
  // grid-auto-flow: column;
  // grid-auto-rows: auto;
  // grid-template-areas: "left right";
}

.project-container > * {
  // margin: 10px;
  padding: 10px 20px;
}
// .project-container{
//   display: flex;
//   justify-content: center;
//   margin-top: 5em;  
// }
.project-wrapper{
  width: 70vw;
  display: flex;
  flex-direction: column-reverse;
}
.image{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.left{
  grid-area: left;
}
.right{
  grid-area: right;
}
.project-image {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.project-details {
  width: 100%;
  max-width: 600px;
  margin: auto;
  color: rgb(68, 18, 94);
  h1 {
    margin-top: 0;
  }
  p {
    line-height: 5vh;
    letter-spacing: 1.5px;
  }
  .project-read-more{
    display: flex;
    font-weight: bold;
    //align-items: baseline;
    .project-links {
      display: flex;
      width: 80px;
      align-items: flex-start;
      margin-top: 14px;
      justify-content: space-evenly;
    }

    .mat-icon {
      font-size: 26px
    }
  }
}

@media (min-width: 768px) {
  .project-wrapper {
    flex-direction: row;

    .project-details {
      margin-left: 6vw;
    }

    &.left{
      flex-direction: row-reverse;

      .project-details{
        margin-right: 6vw;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .project-details {
    flex: 1;
  }
}
@media screen and (min-width: 800px) {
  .reverse .project-details {
      grid-column: 1;
    }
  
  .reverse .project-image {
      grid-column: 2;
    }
  }

