<canvas id="granim-canvas"></canvas>
<div class = "home-container">
  <h1 class = "header-name">Diane Tobit</h1>
  <h2>Software Engineering Intern @ Acutulus</h2>
  <h3>[ Under Construction ]</h3>
  <div class="icon-group">
    <a href="mailto:"><mat-icon fontSet="fa" fontIcon="fa-envelope-o" target="_blank"></mat-icon></a>
    <a href="https://linkedin.com/in/dianetobit" target="_blank"><mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon></a>
    <a href="https://github.com/diane27" target="_blank"><mat-icon fontSet="fa" fontIcon="fa-github"  [inline]="true"></mat-icon></a>
  </div>
</div>
